html {
  font-size: 100%;
}
@media screen and (min-width: 600px) {
  html {
    font-size: calc(16px + 32 * ((100vw - 320px) / 1280));
  }
}
@media screen and (min-width: 1600px) {
  html {
    font-size: 300%;
  }
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
#root{
  margin: 10vw 10vw 0;
  width:80vw;
}
.promptContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.prompt {
  border: 0.375rem black solid;
  border-radius: 1rem;
  padding: 1.5rem;
  width: 100%;
}
.promptHeading {
  font-family: serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.125;
  margin: 1.5rem 0 1.5rem;
}
.promptDetails {
  margin: 0 0 1.5rem;
}
.newPromptButton {
  align-self: center;
  border: none;
  border-radius: 999px;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 3rem;
  line-height: 3rem;
  margin: 1.5rem 0;
  padding: 0 1.5rem;
  position: relative;
  text-transform: capitalize;
}
.fadeIn {
  opacity: 0;
  display: block;
  animation: slidein 1s ease-out forwards;
}
@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(-1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
