html {
  transition: background-color 1s;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
#root{
  display: flex;
  justify-content: center;
  margin: 10% 10% 0;
  width:80%;
}
.promptBox {
  border: 0.5rem black solid;
  border-radius: 1rem;
  height: auto;
  max-width: 35rem;
  padding: 1.5rem;
  width: 100%;
}
.prompt {
  font-weight: 700;
  margin: 1.5rem 0 1.5rem;
}
.promptDetails {
  margin: 0 0 1.5rem;
}
.newPromptButton {
  border-radius: 999px;
  color: white;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 3rem;
  line-height: 3rem;
  margin: 1.5rem 0;
  padding: 0 1.5rem;
  position: relative;
  text-transform: capitalize;
}
.fadeIn {
  opacity: 0;
  display: block;
  animation: slidein 1s ease-out forwards;
}
@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(-1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
