html {
  font-size: 100%;
}
@media screen and (min-width: 600px) {
  html {
    font-size: calc(16px + 16 * ((100vw - 320px) / 1280));
  }
}
@media screen and (min-width: 1600px) {
  html {
    font-size: 200%;
  }
}
body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
* {
  box-sizing: border-box;
}
#root {
  margin: 5vw;
  width:90vw;
}
@media screen and (min-width: 600px) {
  #root {
    margin: 10vw;
    width: 80vw;
  }
}
.promptContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.prompt {
  background-color: white;
  border-radius: 0.1rem;
  box-shadow: 0.2rem 0.2rem rgba(0,0,0,0.5);
  margin-bottom: 6rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  width: 100%;
  max-width: 900px;
}
@media screen and (min-width: 600px) {
  .prompt {
    margin-bottom: 12rem;
    margin-top: 4.5rem;
  }
}
.promptHeading {
  font-family: 'Bree Serif', serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.125;
  margin: 1.5rem 0 1.5rem;
}
.promptDetails {
  color: black;
  line-height: 1.375;
  margin: 0 0 1.5rem;
}
.fairPlay {
  align-items: center;
  background-color: black;
  color: #fafafa;
  display: flex;
  height: 100%;
  justify-content: center;
  left: -100%;
  line-height: 1.375;
  position: absolute;
  top: 0;
  transition: all 300ms ease-in-out;
  width: 100%;
  z-index: 8;
}
.fairPlay-content {
  max-width: 90vw;
  font-size:.9em;
  font-weight: 700;
}
@media screen and (min-width: 600px) {
  .fairPlay-content {
    max-width: 80vw;
    font-size: .7em;
  }
}
.button {
  border: none;
  border-radius: 999px;
  bottom: 2rem;
  color: white;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 3rem;
  line-height: 3rem;
  margin: 0 0 1.5rem;
  mix-blend-mode: screen;
}
.newPromptButton {
  align-self: center;
  background-color: rgba(0,0,0,.75);
  padding: 0 1.5rem;
  position: fixed;
}
.newPromptButton:focus,
.newPromptButton:hover {
  animation-duration: 1s;
}
.fairPlayButton {
  align-items: center;
  align-self: flex-end;
  background-color: rgba(0,0,0,.375);
  display: flex;
  justify-content: center;
  opacity: 0.875;
  position: fixed;
  width: 3rem;
  z-index: 9;
}
.fairPlayButton:focus,
.fairPlayButton:hover,
.fairPlayButton-input:checked ~ .fairPlayButton {
  background-color: rgba(0,0,0,.875);
  opacity: 1;
  transform: rotate(90deg);
}
.fairPlayButton-input {
  display: none;
}
.fairPlayButton-input:checked ~ .fairPlay {
  left: 0;
}
@media screen and (min-width: 600px) {
  .button {
    top: 3rem;
  }
}
@media screen and (min-width: 600px) {
  .button {
    font-size: calc(16px + 8 * ((100vw - 320px) / 1280));
    height: calc(48px + 24 * ((100vw - 320px) / 1280));
    line-height: calc(48px + 24 * ((100vw - 320px) / 1280));
  }
  .newPromptButton {
    padding: 0 calc(24px + 12 * ((100vw - 320px) / 1280));
  }
  .fairPlayButton {
    width: calc(48px + 24 * ((100vw - 320px) / 1280));
  }
}
@media screen and (min-width: 1600px) {
  .button {
    font-size: 24px;
    height: 72px;
    line-height: 72px;
  }
  .newPromptButton {
    padding: 0 36px;
  }
  .fairPlayButton {
    width: 72px;
  }
}
.hoverTransition {
  transition: all 300ms ease-in-out;
}
.fadeIn {
  opacity: 0;
  display: block;
  animation: slidein 600ms ease-out forwards;
}
@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
.gradientFlow {
  animation: flow 20s ease-in-out infinite;
  background: linear-gradient(-60deg, #904e95, #904e95, #e73c7e, #ee7752);
  background-size: 300%;
}
@keyframes flow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
